{{#each this}}
  <div class='country-wrap'>
    <h2 class='country-name'>{{name}}</h2>
    <div class='country-thumb'>
      <div class='country-text'>
        <p class='country-region'>Region:<span> {{region}} </span></p>
        <p class='country-capital'>Capital:<span> {{capital}} </span></p>
        <p class='country-population'>Population:<span> {{population}}</span></p>
        <p class='country-languages'>Languages:
          <ul>
            {{#each languages}}
              <li class='country-languages'><span> {{this.name}} </span></li>
            {{/each}}
          </ul>
        </p>
      </div>

      <img class='country-flag' src='{{flag}}' alt='{{name}}' width='300' />
    </div>
  </div>
{{/each}}