{{#each this}}
  <div class='country-wrap'>
    <h2 class='country-name'>{{name}}</h2>
    <div class='country-thumb'>
      <div class='country-text'>
        <p class='country-region'><span class='description'>Region:</span> {{region}}</p>
        <p class='country-capital'><span class='description'>Capital:</span> {{capital}}</p>
        <p class='country-population'><span class='description'>Population:</span>
          {{population}}</p>
        <p class='country-languages'><span class='description'>Languages:</span>
          <ul>
            {{#each languages}}
              <li class='country-languages'>{{this.name}}</li>
            {{/each}}
          </ul>
        </p>
      </div>

      <img class='country-flag' src='{{flag}}' alt='{{name}}' />
    </div>
  </div>
{{/each}}